{% extends "base.html" %}
{% load static %}

{% block mainContent %}
<!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean en varius odio. La posibilidad de que el usuario tenga una cantidad considerable de fringilla ligera interdum eu. Estamos hablando de una variedad de turpis. Cras consectetur, antes de que los amantes del euismod lo tengan, estén bien provistos de dolor. Suspendisse potenciado. Fusce varius, libero et lacinia feugiat, arcu lectus tincidunt nunc, sed fringilla risus purus ac mi. Phasellus ut augue et odio vulputate vulputate. Donec in congue sapien. Curabitur id tortor eget odio hendrerit viverra. Proin vitae tellus eu tellus euismod luctus vel en todos lados. Curabitur sit amet convallis orci. Vivamus a metus justo. Fusce non augue vitae augue laoreet tristique. In facilisis odio eu ante tristique, a aliquet nunc eleifend.

                            Vivamus ut tincidunt quam, sit amet posuere sapien. Nullam volutpat velit ut erat gravida, in luctus ipsum blandit. Vestibulum vestibulum quam in libero bibendum, eu luctus erat rhoncus. Sed auctor lacus at diam rhoncus congue. Curabitur auctor, lorem quis accumsan facilisis, augue lectus congue odio, non volutpat elit urna nec purus. In efficitur libero eu turpis pharetra, a vulputate justo varius. Fusce in euismod sapien. Nulla facilisi. Sed lacinia ligera interdum ex, en un lugar de tincidunt vitae erat. Fusce en semper justo, en una variedad de varius, en una variedad de eu. Nullam quis vehicula justo, a vehicula justo. Fusce hendrerit en urna id congue. Integer justo mi, lobortis a vehicula en, varius sed justo.</p>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}